{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div id="home" class="clear-footer">
    <div class="landing-text clear-footer">
        <h1>High Paws!</h1>
        <h3>Quality dog accessories</h3>
        <a class="btn btn-lg shop-now-button text-uppercase mt-2" href="{% url 'products' %}">Shop now</a>
    </div>
</div>
{% endblock %}

