:root {
    --ruby: #9d2646;
    --mint: #f4fff8;
    --green: #214e34;
  }

html {
    height: 100%;
}




body {
    /* display: flex; */
    min-height: 100vh;
    background: url('/media/walking.jpg') no-repeat 30% 80% fixed;
    background-size: cover;
    /* might need to substract the header height */
    /* flex-direction: column; */
    font-family: 'Aleo';
    /* object-fit: cover;  */
    /* object-position: 100% 0; */
}

#home {
    /* background: url('/media/walking.jpg') no-repeat center center fixed; */
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    padding-top: 200px;

}
.landing-text {
    display: table-cell;
    position: absolute;
    right: 20px;
    text-align: center;
    vertical-align: bottom;

}

.landing-text h1 {
    font-size: 5em;

}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.header, footer, .mint {
    background-color: var(--mint);
}

.logo-font {
    color: var(--ruby);
    background-color: var(--mint);
}

#delivery-banner {
    background-color: var(--ruby);
    color: var(--mint);
}

.shop-now-button {
    background: var(--ruby);
    color: #fff;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #fff;
    color: var(--ruby);
    border: 1px solid var(--ruby);
    background: transparent;
}



/* .header-container {
    right: 0;
    margin: 0;
    padding-top: 164px;
} */

.background {
    color: var(--mint);
    background-color: var(--ruby);
}

.text-mint {
    color: var(--mint);
}

.text-ruby {
    color: var(--ruby);
}

.border-ruby {
    border: 1px solid var(--ruby)!important;
}

.btn-ruby {
    color: #fff;
    background-color: var(--ruby);
}

.btn-ruby:hover {
    color: #fff;
    background-color: #CF3A62;
    border: 1px solid #CF3A62;
}

.btn-outline-ruby, #sort-selector {
    border: 1px solid var(--ruby);
}

.btn-outline-ruby:hover {
    color: #fff;
    background-color: var(--ruby);
    border: 1px solid var(--ruby);
}


hr {
    border-top: 1px solid var(--ruby);
}

footer i {
    color: var(--ruby);
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: contain;
}

@media (min-width: 992px) {
    /* .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } */

    /* .header-container {
        padding-top: 164px;
    } */
}

@media (max-width: 991px) {
    /* .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    } */

}

/* @media (max-width: 991px) {  */
    

    /* body {
        height: calc(100vh - 340px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    } */
/* 
    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }  */

    /* #delivery-banner h4 {
        font-size: .9rem;
    } */
/* 
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    /* } */
/* } */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


@media (min-width: 320px) {
    #delivery-banner h4 {
        font-size: .9rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    #home {
        display: table;
        height: 100%;
        position: relative;
        width: 100%;
        background-size: cover;
        padding-top: 200px;
    
    }
    .landing-text {
        display: table-cell;
        position: absolute;
        right: 20px;
        text-align: right;
        vertical-align: bottom;
    
    }
    
    .landing-text h1 {
        font-size: 1.5em;
    
    }
    .header-container {
        padding-top: 110px;
    }
    footer {
        margin: 0;
        padding: 0;
    }

}