<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link text-dark mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link text-dark" href="{% url 'products' %}">All Products</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="essentials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Essentials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="essentials-link">
                <a href="{% url 'products' %}?category=beds" class="dropdown-item">Beds</a>
                <a href="{% url 'products' %}?category=dog_bowls" class="dropdown-item">Dog Bowls</a>
                <a href="{% url 'products' %}?category=grooming" class="dropdown-item">Grooming</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="toys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="toys-link">
                <a href="{% url 'products' %}?category=plush" class="dropdown-item">Plush</a>
                <a href="{% url 'products' %}?category=throwing" class="dropdown-item">Throwing</a>
                <a href="{% url 'products' %}?category=chew" class="dropdown-item">Chew</a>
                <a href="{% url 'products' %}?category=squeaky" class="dropdown-item">Squeaky</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="walking-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Walking
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="walking-link">
                <a href="{% url 'products' %}?category=collars" class="dropdown-item">Collars</a>
                <a href="{% url 'products' %}?category=leads" class="dropdown-item">Leads</a>
                <a href="{% url 'products' %}?category=harness" class="dropdown-item">Harness</a>
                <a href="{% url 'products' %}?category=safety" class="dropdown-item">Safety</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark mr-5" href="{% url 'posts' %}" id="blog-link">
                Blog
            </a>
        </li>
    </ul>
</div>