<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link text-dark" href="#">All Products</a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#" id="essentials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Essentials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="essentials-link">
                <a href="#" class="dropdown-item">Beds</a>
                <a href="#" class="dropdown-item">Dog Bowls</a>
                <a href="#" class="dropdown-item">Grooming</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark mr-5" href="#" id="toys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="toys-link">
                <a href="#" class="dropdown-item">Plush</a>
                <a href="#" class="dropdown-item">Throwing</a>
                <a href="#" class="dropdown-item">Chew</a>
                <a href="#" class="dropdown-item">Squeaky</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-dark" href="#" id="walking-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Walking
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="walking-link">
                <a href="#" class="dropdown-item">Collars</a>
                <a href="#" class="dropdown-item">Leads</a>
                <a href="#" class="dropdown-item">Harness</a>
                <a href="#" class="dropdown-item">Safety</a>
            </div>
        </li>
    </ul>
</div>