{% extends 'base.html' %}
{% block extra_title %}|{{ post.title }}{% endblock %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container pb-5 clear-footer">
        <div class="row pb-5">
            <div class="col-md-8 card mb-5 mt-3 mt-lg-5 mx-auto">
                <div class="card-body">
                  <div>
                    <h1>{{ post.title }}</h1>
                    <p class=" text-muted">By: {{ post.author }} | {{ post.created_on }}</p>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                      <a href="{% url 'edit_blog_post' post.slug %}">Edit</a> | 
                      <a class="text-danger delete-modal-trigger" data-toggle="modal"
                          data-target="#blogDeleteModal" aria-label="Delete blog post {{ post.title }}">Delete</a>
                  </small>
                  {% endif %}
                  </div>
                    <hr>
                    <p class="card-text">{{ post.body | safe }}</p>
                </div>
                <div class="container py-2">
                    <a href="{% url 'posts' %}" class="btn btn-outline-ruby float-right" role="button">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Blog</span>
                    </a>
                </div>
            </div>
            <!-- Delete product modal -->
            <div class="modal fade" id="blogDeleteModal" tabindex="-1" aria-labelledby="blogDeleteModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content custom-modal">
                      <div class="modal-header">
                          <h5 class="modal-title" id="blogDeleteModalLabel">Confirm deletion</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                      Are you sure you want to delete <span class="font-weight-bold">{{ post.title }}</span>?
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-outline-ruby" data-dismiss="modal">Close</button>
                          <a class="btn btn-lg btn-danger" href="{% url 'delete_blog_post' post.id %}" >Delete</a>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-md-8 card mx-auto">
                <div class="card-body">
                  <!-- comments -->
                  <h2 class="text-ruby">{{comments.count}} comments</h2>
                  {% for comment in comments %}
                  <div class="comments">
                    <p class="font-weight-bold">
                      {{ comment.name }}
                      <span class=" text-muted font-weight-normal">
                        | {{ comment.created_on }}
                      </span>
                    </p>
                    {{ comment.body | linebreaks }}
                  </div>
                  <hr>
                  {% endfor %}
                </div>
              </div>
              <div class="col-md-8 card mt-3 mx-auto">
                <div class="card-body">
                  <h3>Leave a comment</h3>
                  <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-ruby btn-lg">Submit</button>
                  </form>
                </div>
              </div>
        </div>
    </div>

{% endblock %}